/* CSS for CCL computer positioning */

div.M0002A559A673 {
top: 50%;
left: 48.5%;
}

div.MA2569CCL {
top: 20%;
left: 60.7%;
}

div.MA2570CCL {
top: 12%;
left: 55.5%;
}

div.MA2571CCL {
top: 4.2%;
left: 51%;
}

div.MA2572CCL {
top: 23%;
left: 79%;
}

div.MA2573CCL {
top: 17%;
left: 74%;
}

div.MA2574CCL {
top: -2%;
left: 87%;
}

div.MA2575CCL {
top: -11%;
left: 90%;
}

div.MA2577CCL {
top: -20.1%;
left: 32.6%;
}

div.MA2578CCL {
top: -25%;
left: 26.5%;
}

div.MA2579CCL {
top: -27.3%;
left: 24%;
}

div.MA2581CCL {
top: -38%;
left: 39.3%;
}

div.MA2582CCL {
top: -39.4%;
left: 31%;
}
